<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head ('Create New Post')}">
</head>
<body class="main-container main-bg">
<nav th:replace="partials :: navbar"></nav>
<header th:replace="partials :: header('Create Post')"></header>
<main class="container">
    <form th:replace="partials :: postsForm(@{/posts/save}, 'Create Post')"></form>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>